.coupon{border:3px dashed #000;padding:0 0 0 10px;margin-top:10px;width:325px;background:#fff;color:#000}.left{float:left}.right{float:right}#repertoire h4{margin:0}hr,nav,header,footer{display:none}
