.center
	%p PayPal is safe, secure, and used by 87.2 million people. They accept Visa, MasterCard, Discover, & American Express. You can also connect your bank account to PayPal and pay by directly transferring funds.
	= form_tag 'https://www.paypal.com/cgi-bin/webscr', :method => :post
	= hidden_field_tag 'cmd', '_s-xclick'
	= hidden_field_tag 'hosted_button_id', 'U68T8YV9JNASS'
	= image_submit_tag 'paypal-button.gif'
.spacer
