%meta{:property => "og:title",       :content => site_title}
%meta{:property => "og:type",        :content => "website"}
%meta{:property => "og:url",         :content => canonical_url}
%meta{:property => "og:image",       :content => "http://indypipes.com/indypipes.png"}
%meta{:property => "og:site_name",   :content => "Above and Beyond Plumbing"}
%meta{:property => "fb:admins",      :content => "1244935883"}
%meta{:property => "fb:app_id",      :content => "315540401819008"}
%meta{:property => "og:description", :content => flavor_text}
